<!DOCTYPE html>
<html>
<head>
    <title>Gerar Orçamento</title>
</head>
<body style="font-family:Arial; text-align:center; margin-top:50px;">

    <h2>Gerar Proposta Comercial</h2>

    <form method="POST">

        <input type="text" name="cliente" placeholder="Nome do Cliente" required><br><br>
        <input type="text" name="endereco" placeholder="Endereço" required><br><br>
        <input type="text" name="valor" placeholder="Valor" required><br><br>

        <button type="submit">Gerar PDF</button>

    </form>

</body>
</html>
